<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" [formGroup]="loginDetails" (ngSubmit)="onSubmit()">
        <span class="login100-form-title p-b-43">
          Login to continue
        </span>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>User Id</mat-label>
            <input matInput placeholder="email" formControlName="userId">
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="password" formControlName="password">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Login
          </button>
        </div>

      </form>

      <div class="login100-more" style="background-image: url('assets/images/bg-01.jpg');">
      </div>
    </div>
  </div>
</div>